## Israel Mapping Data

For now just a pile of code fragments

In [2]:
# get places data from gov mapping agency
import xml.etree.cElementTree as et
from urllib.request import urlopen

xml = et.fromstring(urlopen("https://www.mapi.gov.il/ProfessionalInfo/Documents/dataGov/CITY.xml").read())

In [4]:
import pandas as pd

# covert into a dataframe
dfcols = ['name', 'code', 'ita_x', 'ita_y']
df_cities = pd.DataFrame(columns=dfcols)
for elem in xml.iter('Record'):
    
    values = elem.find("Values").findall("Value");
    x = float(values[1].find("X").text)
    y = float(values[1].find("Y").text)
    code = int(values[3].text);
    name = values[8].text;
    
    df_cities = df_cities.append(pd.Series([name, code, x, y], index=dfcols), ignore_index=True)
    
df_cities

                name  code        ita_x        ita_y
0      GANNE YOHANAN   862  184689.8424  640598.3157
1           GINNATON   863  191979.3488  652283.0239
2              BEQOA   864  193011.0640  637420.9841
3          SHIBBOLIM   865  162693.9971  589541.0036
4            YOTVATA   866  205802.5761  422945.2318
...              ...   ...          ...          ...
1235     BET SHEMESH  2610  199203.4669  628089.6932
1236      QIRYAT ONO  2620  186802.4399  662891.2008
1237      QIRYAT GAT  2630  178645.1995  612555.1406
1238     ROSH HAAYIN  2640  196219.0173  667109.6278
1239  RAMAT HASHARON  2650  185142.2704  671471.2297

[1240 rows x 4 columns]

In [5]:
cities = [3000, 4000, 5000, 6000, 7000, 8000]
df_cities.loc[df_cities['code'].isin(cities)]

                 name  code        ita_x        ita_y
895         JERUSALEM  3000  219940.9424  631894.6257
945             HAIFA  4000  200365.1450  745249.6602
983   TEL AVIV - YAFO  5000  179131.2107  665171.1246
987        BAQA -JATT  6000  203823.4398  702459.3877
1000              LOD  7000  189528.4806  650930.7141
1099            ZEFAT  8000  247233.3444  763547.3570

In [9]:
from ipyleaflet import Map, Marker

# example for setting up a map

center = (32.046874,34.7455205)

m = Map(center=center, zoom=8)

marker = Marker(location=center, draggable=False)
m.add_layer(marker);
m

Map(center=[32.046874, 34.7455205], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title'…

In [10]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="dkddj")
location = geolocator.geocode("ירושלים")
print((location.latitude, location.longitude))

(31.778345, 35.2250786)

In [11]:
def gps(name):
    location = Nominatim(user_agent="dkddj").geocode("ירושלים")
    return (location.latitude, location.longitude)

gps("ירושלים")

(31.778345, 35.2250786)

In [12]:
#df2 = df['gps'] = df.apply(lambda x: gps(x['שם ישוב']), axis=1)