## Israel Elections 2020

data source: https://votes23.bechirot.gov.il/

In [172]:
import pandas as pd
import numpy as np

# read counted votes by city
df = pd.read_csv("https://media23.bechirot.gov.il/files/expc.csv", encoding='iso8859_8')
df.head(2)

,סמל ועדה,שם ישוב,סמל ישוב,בזב,מצביעים,פסולים,כשרים,אמת,ג,ודעם,...,נק,פה,ףז,ץ,ק,קי,קך,קץ,שס,Unnamed: 37
0,3,אור הגנוז,1294,281,184,0,184,2,83,0,...,0,1,0,0,0,0,0,0,58,NaN
1,17,אחווה,1157,185,143,0,143,13,0,0,...,0,88,0,0,0,0,0,0,2,NaN

In [173]:
# establish list of parties
parties = df.columns[7:-1]

# sum votes and sort
top10 = df[parties].sum().sort_values(ascending=False).head(10)
top10

מחל     1210939
פה      1085932
ודעם     536028
שס       320999
ג        255159
ל        242218
אמת      235934
טב       208638
נץ        17222
ז          3092
dtype: int64

In [55]:
# extract call letters of top parties
call10 = top10.index.values
call10

array(['מחל', 'פה', 'ודעם', 'שס', 'ג', 'ל', 'אמת', 'טב', 'נץ', 'ז'],
      dtype=object)

In [74]:
# top N cities with disqualified votes
df['disqual_ratio'] = df.eval('פסולים/מצביעים*100')
df[np.concatenate([['פסולים', 'כשרים', 'שם ישוב', 'מצביעים', 'disqual_ratio'], call10])].sort_values(by=['פסולים'], ascending=False).head(10)

,פסולים,כשרים,שם ישוב,מצביעים,disqual_ratio,מחל,פה,ודעם,שס,ג,ל,אמת,טב,נץ,ז
183,1570,253547,ירושלים,255117,0.615404,70734,32154,5027,43156,61165,5992,12671,20082,1736,173
362,958,254879,תל אביב יפו,255837,0.374457,55699,122483,10782,10758,2739,8208,37205,5658,542,307
241,908,81834,בני ברק,82742,1.097387,4783,1111,22,23368,50207,461,306,1163,336,15
177,833,140625,חיפה,141458,0.588867,37319,48407,14684,4133,5559,14557,10083,4870,352,147
161,728,93107,באר שבע,93835,0.775830,46624,16862,732,8354,1278,11121,3114,4171,428,81
159,665,114009,אשדוד,114674,0.579905,41539,17625,61,16567,13629,18851,2015,3007,385,56
207,639,129370,פתח תקווה,130009,0.491504,46623,36751,190,10668,6192,11242,4943,11736,548,116
478,585,100148,נתניה,100733,0.580743,43403,23720,101,12024,3031,9388,2988,4654,440,83
215,576,135120,ראשון לציון,135696,0.424478,54365,49962,185,6042,1132,12126,6148,4325,401,119
176,484,96015,חולון,96499,0.501560,40844,29688,151,9908,857,6755,4325,2750,349,83

In [78]:
# top cities/places for נץ

df['n1'] = df.eval('נץ/מצביעים*100')
df[np.concatenate([['פסולים', 'כשרים', 'שם ישוב', 'מצביעים', 'n1'], call10])].sort_values(by=['n1'], ascending=False).head(10)

,פסולים,כשרים,שם ישוב,מצביעים,n1,מחל,פה,ודעם,שס,ג,ל,אמת,טב,נץ,ז
835,1,528,יצהר,529,23.251418,58,1,0,13,144,1,0,186,123,1
62,1,215,חברון,216,18.055556,45,2,0,7,21,1,0,98,39,0
105,1,122,נגוהות,123,12.195122,22,1,0,3,2,0,0,78,15,1
1083,1,485,כפר תפוח,486,10.905350,183,1,0,23,25,1,0,197,53,0
1187,2,444,שבי שומרון,446,10.089686,148,8,0,8,51,5,0,178,45,0
87,2,208,מבוא דותן,210,9.047619,103,15,0,8,10,4,4,43,19,0
797,2,714,אלון מורה,716,8.659218,108,1,0,20,27,1,1,494,62,0
398,1,619,בת עין,620,7.741935,242,5,0,41,71,0,1,204,48,5
126,0,66,עמיחי,66,7.575758,19,1,0,7,5,0,0,29,5,0
758,16,3268,קרית ארבע,3284,7.095006,1474,39,0,131,206,75,19,1075,233,1

In [195]:
# add column r1 for ratio of smillarity to overall results
# nature of r1 is still under question (how to compute)

top10r = top10.divide(df["כשרים"].sum())
def calcFit(r):
    return(r.filter(items=call10).divide(r["כשרים"]) - top10r).abs().sum()

df['c1'] = df.apply(lambda x: calcFit(x), axis=1)
df.sort_values(by=['c1'], ascending=True).head(20)

,סמל ועדה,שם ישוב,סמל ישוב,בזב,מצביעים,פסולים,כשרים,אמת,ג,ודעם,...,פה,ףז,ץ,ק,קי,קך,קץ,שס,Unnamed: 37,c1
177,7,חיפה,4000,243299,141458,833,140625,10083,5559,14684,...,48407,45,35,51,17,17,56,4133,NaN,0.282469
216,13,רחובות,8400,106720,73894,308,73586,4846,3280,257,...,23996,13,8,13,12,7,21,5599,NaN,0.290736
207,11,פתח תקווה,7900,188774,130009,639,129370,4943,6192,190,...,36751,34,20,21,9,13,27,10668,NaN,0.322654
575,6,ירכא,502,9345,5619,110,5509,184,0,796,...,1709,1,1,3,0,3,6,275,NaN,0.327563
1035,9,צרופה,612,704,512,0,512,30,32,3,...,161,0,0,1,0,0,0,25,NaN,0.347511
59,17,ורדון,1133,222,172,0,172,20,4,3,...,48,0,0,0,0,0,0,16,NaN,0.370304
877,18,ניר עקיבא,2048,494,383,0,383,26,27,0,...,108,0,0,0,0,0,0,43,NaN,0.375430
223,16,אזור,565,9168,6261,41,6220,301,74,22,...,1938,1,2,3,0,1,0,712,NaN,0.420290
269,9,חדרה,6500,75978,47892,295,47597,1880,665,214,...,12942,11,8,13,8,4,24,3991,NaN,0.420482
37,4,אמנון,1253,305,224,0,224,18,3,0,...,63,0,0,0,0,0,0,10,NaN,0.422698
349,11,ראש העין,2640,41889,32397,92,32305,1281,722,43,...,11298,4,1,1,0,4,4,3052,NaN,0.427586
690,9,חריש,1247,7109,5160,25,5135,175,159,68,...,1121,1,0,0,1,2,3,758,NaN,0.429554
176,16,חולון,6600,150913,96499,484,96015,4325,857,151,...,29688,32,13,23,11,12,29,9908,NaN,0.431132
479,10,נתניה,7400,168653,100733,585,100148,2988,3031,101,...,23720,22,18,22,7,24,29,12024,NaN,0.435698
1187,6,סאגור,525,2351,1073,6,1067,203,114,72,...,297,2,0,0,0,0,0,15,NaN,0.439985
776,17,שחר,7,521,387,0,387,21,6,0,...,108,0,0,0,0,0,0,48,NaN,0.443965
397,17,בת הדר,1323,498,397,0,397,30,5,0,...,119,0,0,0,0,0,0,26,NaN,0.447588
195,18,מסלול,748,498,372,1,371,18,5,0,...,104,0,0,0,0,0,0,27,NaN,0.449939
254,13,גדרה,2550,17628,13122,63,13059,834,144,30,...,4886,7,2,1,0,0,2,747,NaN,0.450493
155,18,אילת,2600,50714,22754,118,22636,851,185,237,...,6163,11,3,5,1,3,5,1422,NaN,0.451413