## Israel Elections 2020

data source: https://votes23.bechirot.gov.il/

In [65]:
import pandas as pd
import numpy as np

# read counted votes by city
df = pd.read_csv("https://media23.bechirot.gov.il/files/expc.csv", encoding='iso8859_8')
df.head(2)

,סמל ועדה,שם ישוב,סמל ישוב,בזב,מצביעים,פסולים,כשרים,אמת,ג,ודעם,...,נק,פה,ףז,ץ,ק,קי,קך,קץ,שס,Unnamed: 37
0,3,אור הגנוז,1294,281,184,0,184,2,83,0,...,0,1,0,0,0,0,0,0,58,NaN
1,17,אחווה,1157,185,143,0,143,13,0,0,...,0,88,0,0,0,0,0,0,2,NaN

In [47]:
# establish list of parties
parties = df.columns[7:-1]

# sum votes and sort
top10 = df[parties].sum().sort_values(ascending=False).head(10)
top10

מחל     1096446
פה       954568
ודעם     464258
שס       301056
ג        238177
ל        221737
אמת      210654
טב       183539
נץ        15509
ז          2766
dtype: int64

In [55]:
# extract call letters of top parties
call10 = top10.index.values
call10

array(['מחל', 'פה', 'ודעם', 'שס', 'ג', 'ל', 'אמת', 'טב', 'נץ', 'ז'],
      dtype=object)

In [74]:
# top N cities with disqualified votes
df['disqual_ratio'] = df.eval('פסולים/מצביעים*100')
df[np.concatenate([['פסולים', 'כשרים', 'שם ישוב', 'מצביעים', 'disqual_ratio'], call10])].sort_values(by=['פסולים'], ascending=False).head(10)

,פסולים,כשרים,שם ישוב,מצביעים,disqual_ratio,מחל,פה,ודעם,שס,ג,ל,אמת,טב,נץ,ז
183,1570,253547,ירושלים,255117,0.615404,70734,32154,5027,43156,61165,5992,12671,20082,1736,173
362,958,254879,תל אביב יפו,255837,0.374457,55699,122483,10782,10758,2739,8208,37205,5658,542,307
241,908,81834,בני ברק,82742,1.097387,4783,1111,22,23368,50207,461,306,1163,336,15
177,833,140625,חיפה,141458,0.588867,37319,48407,14684,4133,5559,14557,10083,4870,352,147
161,728,93107,באר שבע,93835,0.775830,46624,16862,732,8354,1278,11121,3114,4171,428,81
159,665,114009,אשדוד,114674,0.579905,41539,17625,61,16567,13629,18851,2015,3007,385,56
207,639,129370,פתח תקווה,130009,0.491504,46623,36751,190,10668,6192,11242,4943,11736,548,116
478,585,100148,נתניה,100733,0.580743,43403,23720,101,12024,3031,9388,2988,4654,440,83
215,576,135120,ראשון לציון,135696,0.424478,54365,49962,185,6042,1132,12126,6148,4325,401,119
176,484,96015,חולון,96499,0.501560,40844,29688,151,9908,857,6755,4325,2750,349,83

In [78]:
# top cities/places for נץ

df['n1'] = df.eval('נץ/מצביעים*100')
df[np.concatenate([['פסולים', 'כשרים', 'שם ישוב', 'מצביעים', 'n1'], call10])].sort_values(by=['n1'], ascending=False).head(10)

,פסולים,כשרים,שם ישוב,מצביעים,n1,מחל,פה,ודעם,שס,ג,ל,אמת,טב,נץ,ז
835,1,528,יצהר,529,23.251418,58,1,0,13,144,1,0,186,123,1
62,1,215,חברון,216,18.055556,45,2,0,7,21,1,0,98,39,0
105,1,122,נגוהות,123,12.195122,22,1,0,3,2,0,0,78,15,1
1083,1,485,כפר תפוח,486,10.905350,183,1,0,23,25,1,0,197,53,0
1187,2,444,שבי שומרון,446,10.089686,148,8,0,8,51,5,0,178,45,0
87,2,208,מבוא דותן,210,9.047619,103,15,0,8,10,4,4,43,19,0
797,2,714,אלון מורה,716,8.659218,108,1,0,20,27,1,1,494,62,0
398,1,619,בת עין,620,7.741935,242,5,0,41,71,0,1,204,48,5
126,0,66,עמיחי,66,7.575758,19,1,0,7,5,0,0,29,5,0
758,16,3268,קרית ארבע,3284,7.095006,1474,39,0,131,206,75,19,1075,233,1